<header>
    <div class="jumbotron">
        <div class="logo">
            <img src="/images/logo.png"/>
        </div>
        <div class="banner">
            <h1>MKSA Quality Checker</h1>
            <nav>
                <a href="/">home</a> 
                <a href="/article/forming">input mksa</a>
                <a href="/article/list">data list</a>
            </nav>
        </div>
        
    </div>    
</header>